/* variables.css */
:root {
    --heading-font: "Inter", Roboto, sans-serif;
    --heading-font-weight: 500;
    --heading-color: var(--bs-dark);
    --heading-line-height: 1.24;
  
    --swiper-theme-color: var(--bs-primary);
    --swiper-pagination-bottom: 0;
    --swiper-pagination-bullet-inactive-color: #fff;
  
    /* bootstrap variables */
    --bs-body-font-family: "Inter", Roboto, sans-serif;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.7;
    --bs-body-color: #8f8f8f;
    --bs-primary: #FF496A;
    --bs-dark: #212529;
    --bs-light: #F1F1F0;
  }
  